{% extends "booking/base.html" %}
{% load static %}

{% block content %}

<!-- ================= HERO ================= -->
<section class="hero" style="height:80vh;">
    <div class="hero-content">
        <h1>Book Your <span>Game</span><br>Dominate the Field</h1>
        <p>Premium turf • Instant booking • Live availability</p>

        <div class="hero-buttons">
            <a href="#turfs" class="btn-primary">Explore Turfs</a>
            <a href="#turfs" class="btn-secondary">Book Slot</a>
        </div>
    </div>
</section>

<!-- ================= TURFS ================= -->
<section class="turfs" id="turfs">
    <h2>Available Turfs</h2>

    <div class="cards">
        {% for sport in sports %}
        <div class="card">

            {% if sport.image %}
                <img src="{{ sport.image.url }}" alt="{{ sport.name }}">
            {% else %}
                <img src="{% static 'booking/images/turf1.jpg' %}" alt="Turf">
            {% endif %}

            <div class="card-body">
                <h3>{{ sport.name }}</h3>
                <p>Professional quality turf with lighting</p>
                <a href="{% url 'slots' sport.id %}" class="card-btn">
                    View Slots →
                </a>
            </div>
        </div>
        {% empty %}
            <p>No turfs added yet</p>
        {% endfor %}
    </div>
</section>

{% endblock %}
