{% extends "booking/base.html" %}
{% load static %}
{% block content %}

<section class="turfs" id="turfs">
  <div class="container">

    <h2>Available Turfs</h2>

    <div class="cards">
      {% for sport in sports %}
      <div class="card">

        {% if sport.image %}
          <img src="{{ sport.image.url }}" alt="{{ sport.name }}">
        {% else %}
          <img src="{% static 'booking/images/turf1.jpg' %}" alt="Turf">
        {% endif %}

        <div class="card-body">
          <h3>{{ sport.name }}</h3>
          <p>International standard • Night lighting</p>
          <a href="{% url 'slots' sport.id %}" class="card-btn">
            View Slots →
          </a>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}
